---
const { pageTitle } = Astro.props;
import "css-to-go";
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" lang="scss" href="/main.css">    
    <title>{pageTitle}</title>
</head>
<body class="ctg-root ctg-container ctg-theme--light">
    <header>
        <h1>Example site</h1>
        <ul style="display: flex; list-style-type: none;">
            <li><a href="/">Home</a></li>
            <li><a href="/posts">Posts</a></li>
        </ul>
        <hr>
    </header>
    <main>
        <slot />
    </main>
    <footer>
    </footer>    
</body>
</html>